<h1>User <%= @user.email %> has canceled the account</h1>
Hey support team!
<br>
A Ripplr account has just been canceled, here's the breakdown of it:
<br>
<br>
<div class="bold">Name</div>
<div><%= @user.name %></div>
<br>
<div class="bold">Posts</div>
<div><%= @user.posts.count %></div>
<br>
<div class="bold">Points</div>
<div><%= @user.total_points %></div>
<br>
<div class="bold">Joined at</div>
<div><%= @user.created_at %></div>
<br>
<div class="bold">Rates received</div>
<div><%= @user.received_ratings.count %></div>
<br>
<div class="bold">Rates Given</div>
<div><%= @user.ratings.count %></div>
<br>
<div class="bold">Followers</div>
<div><%= @user.followers.count %></div>
<br>
<div class="bold">Following</div>
<div><%= @user.follows.count %></div>
<br>
<div class="bold">Subscriptions</div>
<div><%= @user.subscriptions.count %></div>
<br>
<div class="bold">Subscribers</div>
<div><%= @user.subscribers.count %></div>
<br>
<div class="bold">Feedback left while canceling</div>
<div><%= @comment %></div>
<br>
<br>
Please take a look at this.
<br>
<br>
Thanks,
<br>
Ripplr
