<h1>New ticket</h1>
Hey support team!
<br>
We have a new support ticket created from the platform, here's the breakdown of it:
<br>
<br>
<div class="bold">From</div>
<%= @ticket.user.name %> <%= @ticket.user.email %>
<br>
<br>
<div class="bold">Reported at</div>
<%= @ticket.created_at %>
<br>
<br>
<div class="bold">Subject</div>
<%= @ticket.title %>
<br>
<br>
<div class="bold">Description</div>
<%= @ticket.body %>
<br>
<br>
Please take a look at this as soon as you can and let <%= @ticket.user.name %> know.
<br>
<br>
Thanks,
<br>
Ripplr
